<% @users.each do |u| %>
    <div>
        <%= link_to u.email, user_path(u) %>
        <% if u.id == current_user.id %>
        <% elsif current_user.received_requests.where("sender_id = ? AND accept = ?", u.id, false).any? %>
            <%= link_to "Accept friend request", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", u.id, current_user.id).ids), method: :patch %>
            <%= link_to "Reject friend request", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", u.id, current_user.id).ids), method: :delete %>
        <% elsif FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", u.id, current_user.id, false).any? %>
            <%= link_to "Delete friend request", friend_request_url(:id => (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", u.id, current_user.id, false)).ids), method: :delete %>
        <% elsif FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", current_user.id, u.id, false).any? %>
            <%= link_to "Delete friend request", friend_request_url(:id => (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", current_user.id, u.id, false)).ids), method: :delete %>
        <% elsif (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", current_user.id, u.id, true)).any? %>
            <%= link_to "Unfriend", friend_request_url(:id => (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", current_user.id, u.id, true)).ids), method: :delete %>
        <% elsif (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", u.id, current_user.id, true)).any? %>
            <%= link_to "Unfriend", friend_request_url(:id => (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", u.id, current_user.id, true)).ids), method: :delete %>
        <% else %>
            <%= link_to "Send friend request", friend_requests_url(:id => u.id), method: :post %>
        <% end %>
    </div>
<% end %>