<%= link_to gravatar_for(@user, size: 50), @user %>
<%= @user.email %>
<%= current_user.id %>
<div>
    Create a new post:
        <%= form_for @post do |f| %>
            <%= f.hidden_field :user_id, :value => params[:id] %>
            <%= f.hidden_field :author_id, :value => current_user.id %>
            <%= f.text_field :content %>
            <%= f.submit %>
        <% end %>
</div>
<div>
    Posts:
    <% @posts.each do |p| %>
        <div>
            <%= User.find(p.author_id).email %>
            <%= p.content %>
            <%= p.likes.count %>
            <% p.comments.each do |c| %>
                <%= c.content %>
            <% end %>
            <%= form_for @comment do |f| %>
                <%= f.hidden_field :post_id, :value => p.id %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.text_field :content %>
                <%= f.submit %>
            <% end %>
            <% if Like.where("post_id = ? AND user_id = ?", p.id, current_user.id).any? %>
                <%= link_to "Unlike", like_url(:id => Like.where("post_id = ? AND user_id = ?", p.id, current_user.id).ids), method: :delete %>
            <% else %>
                <%= link_to "Like Post", likes_url(:post => p.id, :user => current_user), method: :post %>
            <% end %>
        </div>
    <% end %>
</div>
<% if current_user.id == params[:id].to_i %>    
    <div>    
        <%= "The following users have sent you friend requests:" %>
        <% current_user.received_requests.where("accept = ?", false).each do |r| %>
            <div>
                <%= User.find(r.sender_id).email %>
                <%= link_to "Accept friend request", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", r.sender_id, current_user.id).ids), method: :patch %>
                <%= link_to "Reject friend request", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", r.sender_id, current_user.id).ids), method: :delete %>
            </div>
        <% end %>
    </div>
<% elsif FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", params[:id], current_user.id, false).any? %>
    <%= link_to "Accept friend request", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", params[:id], current_user.id).ids), method: :patch %>
    <%= link_to "Reject friend request", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", params[:id], current_user.id).ids), method: :delete %>
<% elsif FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", params[:id], current_user.id, false).any? %>
    <%= link_to "Delete friend request", friend_request_url(:id => @request.ids), method: :delete %>
<% elsif FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", current_user.id, params[:id], false).any? %>
    <%= link_to "Delete friend request", friend_request_url(:id => @request.ids), method: :delete %>
<% elsif (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", current_user.id, params[:id], true)).any? %>
    <%= link_to "Unfriend", friend_request_url(:id => @request.ids), method: :delete %>
<% elsif (FriendRequest.where("sender_id = ? AND recipient_id = ? AND accept = ?", params[:id], current_user.id, true)).any? %>
    <%= link_to "Unfriend", friend_request_url(:id => @request.ids), method: :delete %>
<% else %>
    <%= link_to "Send friend request", friend_requests_url(:id => @user.id), method: :post %>
<% end %>
<div>
    <% if current_user.id == params[:id].to_i %>
        <%= "You are friends with:" %>
        <% current_user.received_requests.where("accept = ?", true).each do |r| %>
                <div>
                    <%= User.find(r.sender_id).email %>
                    <%= link_to "Unfriend", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", r.sender_id, current_user.id).ids), method: :delete %>
                </div>
            <% end %>
        <% current_user.sent_requests.where("accept = ?", true).each do |r| %>
                <div>
                    <%= User.find(r.recipient_id).email %>
                    <%= link_to "Unfriend", friend_request_url(:id => FriendRequest.where("sender_id = ? AND recipient_id = ?", current_user.id, r.recipient_id).ids), method: :delete %>
                </div>
            <% end %>
    <% end %>
</div>